<html>
    <head>
        <title>Meu site</title>
    </head>
    <body>
        <h1>Bem vindo ao meu site!</h1>
    </body>
    <footer>
        Todos os direitos reservados &copy; 2010 - @DateTime.Now.Year
    </footer>
</html>