@{
    // Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Início";
}

<h1>Bem vindo ao meu site!</h1>
<p>
    <a href="https://github.com/erikosampaio/ASPNETCoreMVC" target="_blank">Link do repositório...</a>
</p>
